.contact__form--header {
    text-align: center;
    color: #8a7869;
}

.btn__group {
    display: flex;
    justify-content: space-between;
}

.admin th {
    background-color: #b7efb7;
}

.css-pagination {
    display: flex;
    justify-content: space-between;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.admin__table--header {
    background-color: #8a7869;
    height: 40px;
}

.admin__table--header-text {
    color: white;
}

.admin__table--container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.admin__table--data {
    height: 50px;
}

.search_input {
    width: 400px;
    height: 40px;
}
