body {
    background-color: #f2ece7;
}

.contact__header {
    height: 80px;
    text-align: center;
    font-size: 40px;
    color: #8a7869;
    border-bottom: 1px solid #e7e7e7;
    background-color: white;
    margin-top: 0;
}

.contact__container {
    width: 800px;
    margin: 0 auto;
}

.contact__form--header {
    text-align: center;
    color: #8a7869;
}

.contact__header--btn {
    width: 100px;
    color: #8a7869;
    background-color: #f5f5f5;
    border: 1px solid #8a7869;
}

.contact__form--container {
    border: 1px solid #cdcbca;
    background-color: white;
}

.contact__form--content {
    width: 200px;
    margin: 0 auto;
}

.contact__form--name {
    margin-bottom: 50px;
}

.contact__form--email {
    margin-bottom: 50px;
}

.contact__form--password {
    margin-bottom: 50px;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 15%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
